.carousel-item img{
  height: 700px;
  object-fit: cover;
}
.adv-div{
  justify-self: flex-start;
  margin-bottom: 180px;
}

@media screen and (min-width:768px) {
  
  .adv-div p{
    font-size: 20px;
  letter-spacing: 5px;

}
.adv-div h1{
  font-size: 65px;
}
.adv-div button{
  width: 200px;
  border-radius: 2px;
}
}


@media screen and (max-width:768px) {
  .card-group{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
  }
  .card-body h5{
    font-size: 3vw;
  }
  .card-body p{
    font-size: 2vw;
  }
  .card-body > p:nth-child(3) {
    font-size: 2.5vw;
  }
  .frame{
    width: 24vw;
  }
  .frame-div{
    padding: 0 120px;
  }
  
}
@media screen and (min-width: 768.1px) {
  .helm{
    width: 23vw;
  }
}
.v-btn{
  width: 130px;
  background-color: #ab9a6f;
  color: white;
  border-radius: 3px;
}